doctype html
html
  head
    //-  link(rel='stylesheet' media='screen and (max-width:1343px)' href='../static/phoneDance.css')
    title Evolve Dance Studio
    block scripts
    block style 
    
  body
    nav#navbar
      ul
        div#logo
          img(src="/static/logo2_11.png", alt="")
          | EDS
        li #[a(href="/") Home ]
        li #[a(href="/") About ]
        li #[a(href="/") Services ]
        li #[a(href="/") Contact us]
    block content
    footer#footer
      |Copyright © 2021 by EDS.com | All rights resevered.
    